html,
body {
    height: 100%; 
    margin: 0;
}

#navbar {
    text-align: center;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 200px;
    height: 100%; 
    background-color: black; 
    border-right: 1px solid #ccc; 
    overflow-y: auto;
}

#navbar ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

#navbar ul li {
    padding: 20px 10px; 
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

#navbar ul li:hover {
    background-color: #333; 
    color: white;
}

a{
    text-decoration: none;
    color:aliceblue;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
}

#image_profile{
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.logos{
    margin-left: 20%;
    width: 20px;
    height: auto;
    filter: brightness(0) invert(1);
    margin-right: 5px;
}

.element {
    display: flex;
    align-items: center; 
}

#liste{
    margin-top: 20%;
}

.active {
    background-color: #333; 
}

#page {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: lightgray;
    margin-left: 200px; 
}

.grid-item {
    position: relative;
    background-color: #ddd;
}

.logo_res{
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.section {
    display: none; 
}

.section.active2 {
    display: flex; 
    justify-content: center;
}

.grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.button_res {
    width: 120px;
    height: fit-content;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #5D9948;
    color: aliceblue;
    border: none;
    border-radius: 2%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
    font-weight: bold;
}

.button_res:hover {
    background-color: #78c15e;
}

.button_project {
    width: 90%;
    height: 10%;
    align-items: center; 
    justify-content: center;
    background-color: #5D9948;
    color: aliceblue;
    border: none;
    border-radius: 2%;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10%;
    position: absolute;
    bottom: 1%; 
    left: 50%;
    transform: translateX(-50%);
}


.button_project:hover {
    background-color: #78c15e;
}

.img_project{
    position: relative;
    width: 100%;
    height: 40%;
}

.slider{
    width: 80%;
    background-color: black;
    padding: 2%;
    display: flex;
}

.project{
    position: relative;
    margin: 2%;
    background-color: #333;
    padding: 2%;
    align-content: center;
    justify-content: center;
}

.text_project{
    color: #ccc;
}