#technologies {
    padding: 2rem;
    text-align: center;
    overflow: hidden; 
}

.technologiesTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.sliderContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 2rem;
}

.slider {
    display: flex;
    animation: scroll 15s linear infinite; 
}

.techItem {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px; /* Minimum width of each item */
    margin: 0 1rem; /* Space between items */
}

.techLogo {
    width: 100px; /* logo size */
    height: 100px; /* logo size */
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Move left based on half of the content */
    }
}

/* Speed up the slider on smaller screens */
@media screen and (max-width: 768px) {
    .slider {
        animation: scroll 10s linear infinite; /* Faster animation for medium screens */
    }
}

@media screen and (max-width: 480px) {
    .slider {
        animation: scroll 5s linear infinite; /* Even faster for small screens */
    }
}
