@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8FAFC;
    --foreground: #0B1220;
    --primary: #33576F;
    --secondary: #4F7C99;
    --accent: #FF904D;
  }
  
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased selection:bg-primary selection:text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass {
    @apply bg-white/60 backdrop-blur-md border border-[#94A3B8]/30 shadow-sm;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary via-secondary to-accent;
  }
}
