.container {
  max-width: 100%;
  padding: 1rem 1rem;
  background-color: rgb(40, 40, 40);
  border-radius: 1rem;
  margin: 1rem;
}

.heading {
  padding: 1rem 0;
  font-size: 1rem; 
  text-align: center;
}

.description {
  padding: 1rem 0;
  font-size: 0.75rem;
  text-align: justify;
}

.swiper_container {
  width: 100%; 
  max-width: 30rem; /* Maximum width */
}

.swiper_container_mobile {
  width: 40%; 
  max-width: 30rem; /* Maximum width */
}

.swiper-slide {
  width: 100%;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

/* For smaller screens, adjust the container and image size */
@media (max-width: 768px) {
  .swiper_container {
      width: 90%; /* Make it take 90% of the viewport width */
  }

  .swiper_container_mobile{
      width: 30%;
  }

  .swiper-slide img {
      width: 100%;
      height: auto;
  }
}

/* For very small screens */
@media (max-width: 500px) {
  .swiper_container {
      width: 100%;
  }

  .swiper_container_mobile {
    width: 60%;
  }

  .swiper-slide img {
      width: 100%;
      height: auto;
  }
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next,
.slider-controler .swiper-button-prev {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #fff;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .swiper-button-next {
  left: 58%;
  transform: translateX(-58%);
}

.slider-controler .swiper-button-prev {
  left: 42%;
  transform: translateX(-42%);
}

.slider-controler ion-icon {
  font-size: 1.5rem;
  color: #000;
}

/* Adjust button positioning on smaller screens */
@media (max-width: 500px) {
  .slider-controler .swiper-button-next {
      left: 80%;
  }

  .slider-controler .swiper-button-prev {
      left: 20%;
  }
}

.swiper-pagination {
  width: 15rem;
  bottom: 1rem;
}

.swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination-bullet-active {
  background: var(--primary);
}
